* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    @extend %Montserrat-r;
    color: #2d2d2d;
}
hr {
    height: 1px;
    background-color: #000000;
    opacity: 0.2;
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;    
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    overflow: hidden;    
}
p {
    width: 100%;
}
.container {
    @media (min-width: 1200px) {
        max-width: 1170px;
    }
}
.footer {
    flex: 0 0 auto;
}

p {
    font-size: 16px;
}

h1 {

}

h2 {
    color: #404043;
    display: block;
    @extend %Montserrat-bl;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.4;
    @media screen and (max-width: $large) {
        font-size: 26px;
    }
    span {
        @extend %Montserrat-l;
        font-size: 22px;
        line-height: 2;
        text-transform: none;
        display: block;
        @media screen and (max-width: $large) {
            font-size: 15px;
        }
        b {
            @extend %Montserrat-b;
        }
    }
}
.title-page {
    color: #404043;
    margin: 70px 0 55px 0;
    text-align: center;
    @media screen and (max-width: $small) {
        margin: 35px 0 25px 0;
    }
    h1 {
        @extend %Montserrat-bl;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 14px;        
        @media screen and (max-width: $small) {
            font-size: 26px;
            margin-bottom: 5px;
        }
    }
    p { 
        @extend %Montserrat-l;
        font-size: 22px;    
        margin: 0;    
        @media screen and (max-width: $small) {
            font-size: 15px;
        }
    }
}
// list ul/ol
.list {
    list-style-type: none;
    p.list-title {
        @extend %Montserrat-b;
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 5px;
        @media screen and (max-width: $large) {
            font-size: 18px;
        }
    }
    p.list-text {
        @extend %Montserrat-l;
        font-size: 16px;
        line-height: 1.7;
        @media screen and (max-width: $large) {
            font-size: 15px;
        }
    }
    li {
        p {
            color: #404043;
        }
    }
    &-lightning {
        li {
            padding-left: 56px;
            position: relative;
            display: block; 
            &::before {
                content: "\e90d";
                color: #007cff;
                @extend %icon;

                font-size: 30px;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
ol {
    list-style-type: none;
    counter-reset: num;
    li {
        position: relative;
        &:before {
            content: '0'counter(num);
            counter-increment: num;
        }
    }

    &.large-numbers {
        margin-top: 123px;
        @media screen and (max-width: $large) {
            margin-top: 80px;
        }
        li {
            padding: 36px 67px 40px 72px;
            margin-bottom: 45px; 
            @media screen and (max-width: $medium) {
                padding-bottom: 40px;
                margin-bottom: 20px; 
            }  
            &:nth-child(2) {
                margin-bottom: 30px;
                @media screen and (max-width: $medium) {
                    margin-bottom: 20px;
                }
            }
            &:last-child {
                @media screen and (max-width: $large) {
                    margin-bottom: 0;
                }
            }
            @media screen and (max-width: $small) {
                padding: 36px 20px 20px 50px;
            }
            &::before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.4;
                text-shadow: 0 0 54px rgba(0, 0, 0, 0.28);
                color: #ffffff;
                @extend %Montserrat-bl;
                font-size: 132px;
                line-height: 97px;
                z-index: -1;
            }
            &::after {
                content: "";
                width: 48px;
                height: 5px;
                background-color: #007cff;
                opacity: 0.7;
                display: block;
                position: absolute;
                top: 46px;
                left: 0;
                @media screen and (max-width: $small) {
                    width: 35px;
                    height: 3px;
                }
            }
        }
    }
}
