.btn {
    height: 48px;
    border-radius: 4px;
    padding: 0 19px;
    line-height: 48px;
    white-space: nowrap;
    border: 0;
    @extend %Montserrat-m;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s ease-in-out;
    &-primary {
        background-color: #ffffff;
        color: #0008ff;
        &:hover {
            color: #fff;
            background-color: #0008ff;
            border-color: #0008ff;
        }
    }
    &-transp {
        background-color: transparent;
        color: #fff;
        font-size: 15px;
        .icon-login-icon {
            font-size: 19px;
        }
    }
    &-blue {
        box-shadow: 14px 13px 125px rgba(0, 0, 0, 0.15);
        background-color: #00b3ff;
        background-image: linear-gradient(to left, #0091fe 0%, #0072ff 100%);
        color: #fff;        
        &:hover {
            background-color: #404043;
            background-image: linear-gradient(to left, #0072ff 0%, #0072ff 100%);
            color: #fff;
        }
    }
    &-gray {
        background-color: #404043;
        background-image: linear-gradient(-92deg, #404043 0%, #77777e 100%);
        color: #fff;
        &:hover {
            background-color: #404043;
            background-image: linear-gradient(-92deg, #404043 0%, #404043 100%); 
            color: #fff;
        }
    }
    &.focus, &:focus {
        box-shadow: none;
        outline: 0;
    }
}

// form
.form-control {
    padding: 22px 25px;
    transition: none;

    height: auto;
    border-radius: 4px;
    border: 1px solid #c8c7c7;
    background-color: transparent;

    color: #5b5959;
    @extend %Montserrat-l;
    @media screen and (max-width: $large) {
        padding: 15px 20px;
    }
    &:focus {
        color: #5b5959;
        border-color: #c8c7c7;
        outline: 0;
        box-shadow: none;
    }
    &::placeholder { 
        color: #5b5959;
        opacity: 1;
    }
    
    &:-ms-input-placeholder { 
        color: #5b5959;
    }
    
    &::-ms-input-placeholder { 
        color: #5b5959;
    }
}

button:focus {
    outline: none!important;    
}
button {
    cursor: pointer;
}

// select2
.select2-container {
    @media screen and (min-width: $small) {
        width: 100%;        
    }
    @media screen and (max-width: $small) {
        min-width: 220px;        
    }
    // width: 100%;
}
.select2-container .select2-selection--single {
    &:active, &:focus {
        outline: none;
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    outline: none;
    &:active, &:focus {
        outline: none;
    }
}
.select2-search.select2-search--dropdown {
    display: none;
}