@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black/Montserrat-Black.woff2") format("woff2");
    src: url("../fonts/Montserrat-Black/Montserrat-Black.woff") format("woff"), 
    url("../fonts/Montserrat-Black/Montserrat-Black.otf") format("opentype"),
    url("../fonts/Montserrat-Black/Montserrat-Black.svg") format("svg"),
    url("../fonts/Montserrat-Black/Montserrat-Black.ttf") format("truetype"),
    url("../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Black/Montserrat-Black.eot");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2");
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), 
    url("../fonts/Montserrat-Bold/Montserrat-Bold.otf") format("opentype"),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.svg") format("svg"),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2");
    src: url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), 
    url("../fonts/Montserrat-Medium/Montserrat-Medium.otf") format("opentype"),
    url("../fonts/Montserrat-Medium/Montserrat-Medium.svg") format("svg"),
    url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"),
    url("../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Medium/Montserrat-Medium.eot");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2");
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), 
    url("../fonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"),
    url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"),
    url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular/Montserrat-Regular.eot");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light/Montserrat-Light.woff2") format("woff2");
    src: url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"), 
    url("../fonts/Montserrat-Light/Montserrat-Light.otf") format("opentype"),
    url("../fonts/Montserrat-Light/Montserrat-Light.svg") format("svg"),
    url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"),
    url("../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light/Montserrat-Light.eot");
    font-weight: 300;
    font-style: normal;
}

// icons
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icons/icomoon.eot?yf3ft8');
    src:  url('../fonts/icons/icomoon.eot?yf3ft8#iefix') format('embedded-opentype'),
      url('../fonts/icons/icomoon.ttf?yf3ft8') format('truetype'),
      url('../fonts/icons/icomoon.woff?yf3ft8') format('woff'),
      url('../fonts/icons/icomoon.svg?yf3ft8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }