[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-arow-left:before {
    content: "\e900";
    color: #f8f8f8;
  }
  .icon-arow-right:before {
    content: "\e901";
    color: #f8f8f8;
  }
  .icon-arow-top:before {
    content: "\e902";
    color: #007cff;
  }
  .icon-check:before {
    content: "\e903";
    color: #fff;
  }
  .icon-content-icon1:before {
    content: "\e904";
    color: #007cff;
  }
  .icon-content-icon2:before {
    content: "\e905";
    color: #007cff;
  }
  .icon-content-icon3:before {
    content: "\e906";
    color: #007cff;
  }
  .icon-content-icon4:before {
    content: "\e907";
    color: #007cff;
  }
  .icon-content-icon5:before {
    content: "\e908";
    color: #007cff;
  }
  .icon-content-icon6:before {
    content: "\e909";
    color: #007cff;
  }
  .icon-label .path1:before {
    content: "\e90a";
    color: rgb(0, 79, 255);
  }
  .icon-label .path2:before {
    content: "\e90b";
    // margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-li-arow:before {
    content: "\e90c";
    color: #004fff;
  }
  .icon-lightning:before {
    content: "\e90d";
    color: #007cff;
  }
  .icon-login-icon:before {
    content: "\e90e";
    color: #fff;
  }
  .icon-play:before {
    content: "\e90f";
    color: #004efd;
  }
  .icon-search:before {
    content: "\e910";
    color: #004fff;
  }
  .icon-soc-fb:before {
    content: "\e911";
    color: #fff;
  }
  .icon-soc-in:before {
    content: "\e916";
    color: #fff;
  }
  .icon-soc-tw:before {
    content: "\e913";
    color: #fff;
  }
  .icon-file:before {
    content: "\e915";
    color: #004fff;
  }
  .icon-close:before {
    content: "\e920";
    color: #0351ff;
  }