.pricing {
    &-table {
        box-shadow: 0 0 21px rgba(0, 0, 0, 0.06);
        border-radius: 4px 4px 0 0;
        background-color: #ffffff;
        padding: 0 0 52px 0;
        width: 100%;
        max-width: 945px;
        margin: 0 auto;
        &__head {
            @include flex(row, space-between, center);
            border-radius: 4px 4px 0 0;
            background-color: #004fff;
            background-image: linear-gradient(to left, #0091fe 0%, #0072ff 100%);
            padding: 30px 35px 30px 20px;
            @media screen and (max-width: $small) {
                padding: 20px;
                @include flex(column, center, center);
            }
        }
        &__title {
            color: #ffffff;
            @extend %Montserrat-l;
            font-size: 32px;
            line-height: 1;
            margin-bottom: 0;
            @media screen and (max-width: $small) {
                font-size: 24px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
        &__price {           
            color: #ffffff;
            @extend %Montserrat-l;
            font-size: 22px;
            margin-bottom: 0;
            text-align: right;
            line-height: 1;
            @media screen and (max-width: $small) {
                font-size: 16px;
                text-align: center;
            }
            b {
                @extend %Montserrat-bl;
                font-size: 53px;
                @media screen and (max-width: $small) {
                    font-size: 38px;
                }
            }
        }
    }
    .checklist {
        padding: 44px 35px 17px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 14px;
        @media screen and (max-width: $small) {
            padding: 25px 15px 15px;
        }
        &-item {
            list-style: none;
            color: #404043;
            @extend %Montserrat-m;
            font-size: 16px;
            line-height: 1.4;
            padding-left: 35px;
            position: relative;
            width: calc(50% - 15px);
            max-width: 395px;
            margin-bottom: 26px;
            @media screen and (max-width: $small) {
                width: 100%;
                margin-bottom: 15px;
            }
            &::before {
                content: "\e903";
                color: rgba(0, 0, 0, .2);

                @extend %icon;
                text-align: center;

                display: block;
                position: absolute;
                top: 2px;
                left: 0px;
                font-size: 15px;
            }
        }
    }


    .additional {
        margin: 0 24px;
        width: calc(100% - 48px);
        border-top: 1px solid rgba(0, 0, 0, .2);
        @media screen and (max-width: $small) {
            margin: 0;
            width: 100%;
        }
        &-title {
            color: #404043;
            @extend %Montserrat-b;
            font-size: 16px;
            line-height: 2;
            padding-right: 22px; 
            transform: translateY(-50%);
            background-color: #fff;
            display: inline-block;
            width: auto;
            margin-bottom: 27px;
            @media screen and (max-width: $small) {
                margin: 0;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 9px;
            margin-bottom: 33px;
        }
        &-item {
            list-style: none;
            color: #404043;
            @extend %Montserrat-m;
            font-size: 16px;
            width: calc(50% - 15px);
            max-width: 405px;
            margin-bottom: 12px;
            @media screen and (max-width: $small) {
                width: 100%;
            }
            .checkbox {
                display: none;
                &:checked + .parameter {
                    opacity: 1;
                    .parameter-checkbox {
                        background-color: #004efc;
                        border-color: #004efc;
                        .icon-check {
                            display: block;                            
                        }
                    }
                }
            }
            .parameter {
                padding-left: 36px;
                position: relative;
                opacity: 0.7;
                cursor: pointer;
                .parameter-text {
                    margin-bottom: 0;
                    line-height: 1.6;
                    display: block;
                    &.parameter-price {
                        @extend %Montserrat-m;
                        font-size: 16px;    
                        color: #404043;  
                        line-height: 1.9;
                        margin-bottom: 5px;              
                        b {
                            font-size: 22px;
                            color: #004fff;
                            @extend %Montserrat-b;
                            line-height: 1;
                        }
                    }
                }

                &-checkbox {
                    display: block;
                    position: absolute;
                    top: 1px;
                    left: 0;
                    width: 22px;
                    height: 22px;
                    border-radius: 2px;
                    border: 1px solid #a7a7a7;
                    background-color: #ffffff;
                    .icon-check {
                        display: none;
                        font-size: 14px;
                        color: rgba(0, 0, 0, .2);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate3d(-50%, -50%, 0);
                    }
                }

                
            }
        }
        &-buttons {
            @include flex(row, flex-end, center);
            padding-right: 14px;
            @media screen and (max-width: $small) {
                padding: 0;
            }
            .btn {
                @include flex(row, center, center);
            }
            .btn-transp {
                color: #004fff;
                @extend %Montserrat-b;
                font-size: 16px;
                line-height: 2;
                text-decoration: underline;
                text-transform: uppercase;
                padding: 0 20px;
                margin-right: 28px;
                @media screen and (max-width: $small) {
                    padding: 0 10px;
                    max-width: 50%;
                    margin-right: 0;
                    font-size: 14px;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            .btn-primary {
                box-shadow: 14px 13px 125px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                background-color: #00b3ff;
                background-image: linear-gradient(to left, #0091fe 0%, #0072ff 100%);
                color: #ffffff;
                @extend %Montserrat-b;                
                font-size: 16px;
                line-height: 2;
                text-transform: uppercase;
                padding: 0 52px;
                @media screen and (max-width: $small) {
                    padding: 0 10px;
                    max-width: 50%;
                    font-size: 14px;
                }
                &:hover {
                    background-color: #004efc;
                    background-image: linear-gradient(to left, #004efc 0%, #004efc 100%);                    
                }
            }
        }
    }

    .plan {
        width: 100%;
        margin-top: 55px;
        @media screen and (max-width: $small) {
            margin-top: 25px;
        }
        &-body {
            @include flex(row, space-between, stretch);
            width: 100%;
            max-width: 940px;
            // border-bottom: 1px solid rgba(0, 0, 0, .2);
            padding: 50px 0 58px;
            @media screen and (max-width: $medium) {
                @include flex(column, flex-start, center);
            }
            @media screen and (max-width: $small) {
                padding-top: 0;
                padding-bottom: 30px;
            }
        }
        &-price {
            @include flex(column, center, center);
            margin-right: 62px;
            padding: 45px 70px 25px;
            box-shadow: 11px 10px 21px rgba(0, 0, 0, 0.06);
            border-radius: 4px;
            background-color: #ffffff;
            @media screen and (max-width: $medium) {
                margin-right: 0px;
            }
            @media screen and (max-width: $small) {
                padding: 25px 40px;
            }
            p {
                margin-bottom: 0;
                color: #787878;
                @extend %Montserrat-m;
                font-size: 24px;
                line-height: 1.4;
                margin-bottom: 38px;
                white-space: nowrap;
                @media screen and (max-width: $small) {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                b {
                    color: #004fff;
                    @extend %Montserrat-bl;
                    font-size: 53px;
                    line-height: 1;
                    @media screen and (max-width: $small) {
                        font-size: 38px;
                    }
                }
            }
            .btn-transp {
                color: #004fff;
                font-size: 16px;
                line-height: 2;
                text-decoration: underline;
                text-transform: uppercase;
                margin: 0 auto;
                line-height: 1;
                height: auto;
            }
        }
        &-content {
            @include flex(column, center, flex-start);   
            padding-top: 10px;   
            @media screen and (max-width: $medium) {
                text-align: center;
                margin-top: 30px;
            }      
            p {
                color: #404043;
                @extend %Montserrat-l;
                font-size: 18px;
                line-height: 1.7;
                margin-bottom: 0; 
                @media screen and (max-width: $small) {
                    font-size: 16px;
                    line-height: 1.4;
                }
                &.plan-subtitle {
                    color: #2d2d2d;
                    @extend %Montserrat-b;
                    font-size: 22px;
                    line-height: 1;
                    margin-bottom: 18px;
                    @media screen and (max-width: $small) {
                        font-size: 16px;
                        margin-bottom: 7px;
                    }
                }
                &.plan-title {
                    color: #004fff;
                    @extend %Montserrat-bl;
                    font-size: 32px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    margin-bottom: 9px;
                    @media screen and (max-width: $small) {
                        font-size: 24px;
                    }
                }
            }
        }
        hr {
            margin: 0;
        }
        &-desc {
            width: 100%;
            padding: 60px 0;
            @include flex(row, flex-start, flex-start);
            max-width: 600px;
            width: 100%;
            @media screen and (max-width: $small) {
                padding: 30px 0;
            }
            .icon-label {
                position: relative;
                margin-right: 15px;
                width: 39px;
                height: 46px;
                display: inline-block;
                font-size: 46px;
                .path1 {

                }
                .path2 {
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-42%, -50%, 0);
                }
            }
            p {
                color: #404043;
                @extend %Montserrat-l;
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 0;
                a {    
                    color: #004df8;
                    text-decoration: none;
                    font-size: inherit;
                }
            }

        }
    }
    .questions {  
        margin-top: 51px;  
        margin-bottom: 118px;   
        display: flex;
        flex-wrap: wrap;   
        justify-content: space-between;
        align-items: flex-start;  
        @media screen and (max-width: $small) {
            margin: 0 0 30px 0;
        }      
        &-content {
            @include flex(column, center, flex-start);
            margin-top: 70px;
            width: 50%;
            @media screen and (max-width: $medium) {
                width: 100%;
            }
            @media screen and (max-width: $small) {
                margin: 0;
            }
        }
        &-title {
            color: #404043;
            @extend %Montserrat-bl;
            font-size: 32px;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 62px;
            @media screen and (max-width: $small) {
                font-size: 24px;
                margin-bottom: 30px;
            }
        }
        &-list {
            display: inline-block;
            width: auto;
            padding-right: 46px;
            margin: 0 auto;
            li {
                list-style: none;
                color: #404043;
                @extend %Montserrat-r;
                font-size: 22px;
                line-height: 1.5;
                margin-bottom: 58px;
                padding-left: 35px;
                position: relative;
                @media screen and (max-width: $small) {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                &::before {
                    content: "\e90c";
                    color: #004fff;

                    @extend %icon;

                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 0;
                }
            }
        }
        .img-with-white-back-left {
            width: calc(46% - 63px);
            margin: 0 25px 0 75px;
            @media screen and (max-width: $medium) {
                width: auto;
                margin: 0 auto;
            }
        }
    }
}