// colors
// $brown: rgb(176, 108, 81);



// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { ... }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

$large: 1200px;
$medium: 992px;
$small: 768px;


// fonts
%Montserrat-bl {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 900;
}
%Montserrat-b {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
}
%Montserrat-m {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
}
%Montserrat-r {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}
%Montserrat-l {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
}
// mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
// icon
%icon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}