<div class="review">
    <div class="review-back">
    </div>    
    <div class="container">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="review-item">
                        <div class="review-user">
                            <img src="img/user-img.png" alt="">
                        </div>
                        <div class="review-content">
                            <ul class="nav social">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-soc-in"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-soc-tw"></i></a>
                                </li>
                            </ul>
                            <div class="review-block">
                                <p class="title">Tiago Martins</p>
                                <p>Portugal</p>
                            </div>
                            <div class="review-block">
                                <p class="title">Entrepreneur, consultant</p>
                                <p>www.tiagomartins.io</p>
                            </div>
                            <div class="review-block">
                                <p class="title">LeapIN’s self-service portal is an easier way to manage your business, plus it provides a clear overview of expenses and sales.</p>
                                <div class="review-text">
                                    <p>Tiago is an experienced entrepreneur from Portugal who’s been working as a software development consultant since leaving Codeplace in April 2017 - a company he founded with friends in 2014.</p>
                                    <p>He discovered LeapIN while looking for an alternative to the setup for solopreneurs in Portugal. They made life difficult with high maintenance costs and unfriendly regulations.</p>
                                    <p>“Anywhere I’m located, I can upload my expenses and create invoices easily. It’s important that I can keep track of my company, rather than waiting for a monthly update (and sometimes shock!) from an accountant.”</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="review-item">
                        <div class="review-user">
                            <img src="img/user-img.png" alt="">
                        </div>
                        <div class="review-content">
                            <ul class="nav social">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-soc-in"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-soc-tw"></i></a>
                                </li>
                            </ul>
                            <div class="review-block">
                                <p class="title">Tiago Martins</p>
                                <p>Portugal</p>
                            </div>
                            <div class="review-block">
                                <p class="title">Entrepreneur, consultant</p>
                                <p>www.tiagomartins.io</p>
                            </div>
                            <div class="review-block">
                                <p class="title">LeapIN’s self-service portal is an easier way to manage your business, plus it provides a clear overview of expenses and sales.</p>
                                <div class="review-text">
                                    <p>Tiago is an experienced entrepreneur from Portugal who’s been working as a software development consultant since leaving Codeplace in April 2017 - a company he founded with friends in 2014.</p>
                                    <p>He discovered LeapIN while looking for an alternative to the setup for solopreneurs in Portugal. They made life difficult with high maintenance costs and unfriendly regulations.</p>
                                    <p>“Anywhere I’m located, I can upload my expenses and create invoices easily. It’s important that I can keep track of my company, rather than waiting for a monthly update (and sometimes shock!) from an accountant.”</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="review-item">
                        <div class="review-user">
                            <img src="img/user-img.png" alt="">
                        </div>
                        <div class="review-content">
                            <ul class="nav social">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-soc-in"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-soc-tw"></i></a>
                                </li>
                            </ul>
                            <div class="review-block">
                                <p class="title">Tiago Martins</p>
                                <p>Portugal</p>
                            </div>
                            <div class="review-block">
                                <p class="title">Entrepreneur, consultant</p>
                                <p>www.tiagomartins.io</p>
                            </div>
                            <div class="review-block">
                                <p class="title">LeapIN’s self-service portal is an easier way to manage your business, plus it provides a clear overview of expenses and sales.</p>
                                <div class="review-text">
                                    <p>Tiago is an experienced entrepreneur from Portugal who’s been working as a software development consultant since leaving Codeplace in April 2017 - a company he founded with friends in 2014.</p>
                                    <p>He discovered LeapIN while looking for an alternative to the setup for solopreneurs in Portugal. They made life difficult with high maintenance costs and unfriendly regulations.</p>
                                    <p>“Anywhere I’m located, I can upload my expenses and create invoices easily. It’s important that I can keep track of my company, rather than waiting for a monthly update (and sometimes shock!) from an accountant.”</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <i class="icon-arow-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <i class="icon-arow-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
</div>