<div class="features">
    <div class="container">
        <h2>Features at a glance</h2>
        <ul class="nav nav-tabs" id="featuresTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="true">Company in the EU</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="bank-tab" data-toggle="tab" href="#bank" role="tab" aria-controls="bank" aria-selected="false">Bank account and payment card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="tab" aria-controls="account" aria-selected="false">Accounting and taxes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="solution-tab" data-toggle="tab" href="#solution" role="tab" aria-controls="solution" aria-selected="false">All-in-one solution</a>
            </li>
        </ul>
        <div class="tab-content" id="featuresTabContent">
            <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="company-tab">
                <div class="row justify-content-between">
                    <div class="col-sm-12 col-md-6 col-12">
                        <div class="features-content">
                            <p class="features-title">Company in the EU</p>
                            <p>Easy setup and full administration. Online.</p>
                            <ul class="list list-lightning features-list">
                                <li>
                                    <p class="list-title">Company registration online</p>
                                    <p class="list-text">Gain customers and momentum by grasping new business opportunities in Europe and starting your cross-border business online with LeapIN.</p>
                                </li>
                                <li>
                                    <p class="list-title">Optimal business structure</p>
                                    <p class="list-text">LeapIN focuses on the most optimal business structure to fit your needs and optimize the setup process and cost efficiency of your company.</p>
                                </li>
                                <li>
                                    <p class="list-title">Remote administration</p>
                                    <p class="list-text">LeapIN delivers all the tools and services needed to access and remotely manage your cross-border business operations. What's more, we do it in a secure, cost-efficient, and hassle-free way. Bank account and payment
                                        card</p>
                                </li>
                                <li>
                                    <p class="list-title">Company registration online</p>
                                    <p class="list-text">Gain customers and momentum by grasping new business opportunities in Europe and starting your cross-border business online with LeapIN.</p>
                                </li>
                                <li>
                                    <p class="list-title">Optimal business structure</p>
                                    <p class="list-text">LeapIN focuses on the most optimal business structure to fit your needs and optimize the setup process and cost efficiency of your company.</p>
                                </li>
                                <li>
                                    <p class="list-title">Remote administration</p>
                                    <p class="list-text">LeapIN delivers all the tools and services needed to access and remotely manage your cross-border business operations. What's more, we do it in a secure, cost-efficient, and hassle-free way. Bank account and payment
                                        card</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-12 col-with-img">
                        <div class="img-with-white-back-left">
                            <img src="img/img2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="bank" role="tabpanel" aria-labelledby="bank-tab">...</div>
            <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">...</div>
            <div class="tab-pane fade" id="solution" role="tabpanel" aria-labelledby="solution-tab">...</div>
        </div>
    </div>
</div>