<button class="trigger-menu" id='trigger-menu'>menu</button>
<div class="fix-text" id="fix-nav">
    <ul>
        <li><a href="/ecyprus">Home</a></li>
        <li><a href="/ecyprus/pricing.html">Pricing</a></li>
        <li><a href="/ecyprus/features.html">Features</a></li>
        <li><a href="/ecyprus/about-us.html">About-us</a></li>
        <li><a href="/ecyprus/contacts.html">Contact</a></li>
    </ul>
</div>