<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12 col-12">
                <p class="copyright">eCyprus. © 2017 All rights reserved.</p>
            </div>
            <div class="col-lg-6 col-sm-12 col-12 footer-col">                
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">TERMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PRIVACY</a>
                    </li>
                </ul>
                <ul class="nav justify-content-end social">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-soc-in"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-soc-tw"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-soc-fb"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <include src="modal.html"></include>
</footer>