<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand logo" href="#">
                <img src="img/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a class="nav-link" href="/ecyprus">Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="/ecyprus/pricing.html">pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ecyprus/features.html">features</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ecyprus/about-us.html">about us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ecyprus/contacts.html">contacts</a></li>
                </ul>
                <div class="my-2 my-lg-0">
                    <button type="button" class="btn btn-transp" data-toggle="modal" data-target="#signIn"><i class="icon-login-icon"></i> log in</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUp">free sign up </button>
                </div>
            </div>
        </nav>
    </div>
    <include src="fix-menu.html"></include>
</header>