<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
<div class="modal fade modal-signUp" id="signUp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="POST" action="#" class="modal-content">
            <div class="modal-left">
                <p class="modal-title">
                    <b>Sign up</b> 3 simple steps
                </p>
                <div class="modal-links">
                    <a href="">TERMS</a>
                    <a href="">PRIVACY</a>
                </div>
            </div>
            <div class="modal-right step step1 active">
                <div class="step-head">
                    <p class="step-title">Company</p>
                    <p class="step-number">1 Step</p>
                </div>
                <div class="step-body">
                    <div>
                        <div class="row step-row">
                            <div class="col">
                                <p class="title">Who will be your consumers:</p>
                                <div class="radio">
                                    <input type="radio" name="radioGroup1" id="radio1">
                                    <label for="radio1">
                                        <span>B2b</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="radioGroup1" id="radio2">
                                    <label for="radio2">
                                        <span>B2c</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="radioGroup1" id="radio3">
                                    <label for="radio3">
                                        <span>Marketplaces</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col-8">
                                <p class="title">Anticipated monthly volume:</p>
                                <input type="text">
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col">
                                <p class="title">Simple select title</p>
                                <select  >
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                </select>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col">
                                <p class="title">Do you require VAT registration?</p>
                                <div class="radio">
                                    <input type="radio" name="radioGroup2" id="radio4">
                                    <label for="radio4">
                                        <span>Yes</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="radioGroup2" id="radio5">
                                    <label for="radio5">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col">
                                <p class="title">Do you require VAT registration?</p>
                                <div class="radio">
                                    <input type="radio" name="radioGroup3" id="radio6">
                                    <label for="radio6">
                                        <span>Yes</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="radioGroup3" id="radio7">
                                    <label for="radio7">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col">
                                <p class="title">Do you require VAT registration?</p>
                                <div class="radio">
                                    <input type="radio" name="radioGroup4" id="radio8">
                                    <label for="radio8">
                                        <span>Yes</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" name="radioGroup4" id="radio9">
                                    <label for="radio9">
                                        <span>No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-footer">
                    <button type="button" class="btn btn-primary next">save and continue</button>
                </div>
            </div>
            <div class="modal-right step step2">
                <div class="step-head">
                    <p class="step-title">Your details</p>
                    <p class="step-number">2 Step</p>
                </div>
                <div class="step-body">
                    <div>
                        <div class="row step-row">
                            <div class="col-12 col-lg-6">
                                <p class="title">Nationality</p>
                                <select  >
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                </select>
                            </div>
                            <div class="col">
                                <p class="title">Country</p>
                                <select  >
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                </select>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col-12 col-lg-6">
                                <p class="title">City</p>
                                <select  >
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                </select>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="title">Address</p>
                                <select  >
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                    <option value="Simple option">Simple option</option>
                                </select>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col-12 col-lg-6">
                                <p class="title">Phone number</p>
                                <input type="text"  >
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="title">E-mail address</p>
                                <input type="email"  >
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col-12 col-lg-6">
                                <p class="title">Tax identifaction number</p>
                                <input type="text"  >
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="title">Passport number / id number</p>
                                <input type="email"  >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-footer">
                    <a href="" class="back">back</a>
                    <button type="button" class="btn btn-primary next">save and continue</button>
                </div>
            </div>
            <div class="modal-right step step3">
                <div class="step-head">
                    <p class="step-title">Your details</p>
                    <p class="step-number">3 Step</p>
                </div>
                <div class="step-body">
                    <div>
                        <div class="row step-row">
                            <div class="col-12 col-lg-6">
                                <p class="title">Passport</p>
                                <div class="file">
                                    <input type="file"  id="file1">
                                    <label for="file1">
                                        <span class="notfile">                                            
                                            <span class="notfile-title"><i class="icon-file"></i>Upload file</span>
                                        </span>
                                        <span class="isfile">
                                            <span class="isfile-title"></span>
                                            <i class="icon-close"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="title">Utility bill (max 3 months old)</p>
                                <div class="file">
                                    <input type="file"  id="file2">
                                    <label for="file2">
                                        <span class="notfile">                                            
                                            <span class="notfile-title"><i class="icon-file"></i>Upload file</span>
                                        </span>
                                        <span class="isfile">
                                            <span class="isfile-title"></span>
                                            <i class="icon-close"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row step-row">
                            <div class="col-12 col-lg-6">
                                <p class="title">Bank statement</p>
                                <div class="file">
                                    <input type="file"  id="file3">
                                    <label for="file3">
                                        <span class="notfile">                                            
                                            <span class="notfile-title"><i class="icon-file"></i>Upload file</span>
                                        </span>
                                        <span class="isfile">
                                            <span class="isfile-title"></span>
                                            <i class="icon-close"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <p class="title">Detailed CV</p>
                                <div class="file">
                                    <input type="file"  id="file4">
                                    <label for="file4">
                                        <span class="notfile">                                            
                                            <span class="notfile-title"><i class="icon-file"></i>Upload file</span>
                                        </span>
                                        <span class="isfile">
                                            <span class="isfile-title"></span>
                                            <i class="icon-close"></i>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-footer">
                    <a href="" class="back">back</a>
                    <button type="submit" class="btn btn-primary">finish</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>