.about {
    .first {
        background-image: url('../img/about-back.png');
        background-position: top center;
        padding-bottom: 70px;
        @media screen and (max-width: $large) {
            background-size: auto 550px;
        }
        @media screen and (max-width: $medium) {
            background-size: auto 700px;
            background-position: center top;
        }
        &>.container {
            padding-top: 67px;
        }
        h1 {
            color: #ffffff;
            @extend %Montserrat-bl;
            font-size: 34px;
            line-height: 1.4;
            text-transform: uppercase;
            position: relative;
            top: 0;
            left: 0;
            opacity: 1;
            transform: rotate(0);
            z-index: 1;
            opacity: 1;      
            margin-bottom: 18px;  
            @media screen and (max-width: $small) {
                display: block;
            }    
        }
        p {
            color: #ffffff;
            @extend %Montserrat-l;
            font-size: 22px;
            line-height: 1.45;
            margin-bottom: 34px;
            @media screen and (max-width: $medium) {
                font-size: 18px;
            }
            @media screen and (max-width: $small) {
                font-size: 16px;
            }
        }
    }
    &-carousel {
        margin-top: 78px;
        box-shadow: 13.896px 12.958px 133px 0px rgba(0, 0, 0, 0.09);
        .owl-nav {
            &.disabled {
                display: block;
            }
            .owl-prev, .owl-next {
                @extend %icon;
                position: absolute;
                top: 50%;
                @media screen and (max-width: $small) {
                    display: none;
                }
            }
            .owl-prev {
                transform: translate3d(-100%, 50%, 0);
                left: -80px;
                @media screen and (max-width: $large) {
                    left: -10px;
                }
                &:before {
                    content: "\e900";
                    color: #004fff;
                    font-size: 38px;
                }
            }
            .owl-next {
                transform: translate3d(100%, 50%, 0);
                right: -80px;
                @media screen and (max-width: $large) {
                    right: -10px;
                }
                &:before {
                    content: "\e901";
                    color: #004fff;
                    font-size: 38px;
                }
            }

        }

        .item {
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            display: block;
            box-shadow: 13.896px 12.958px 133px 0px rgba(0, 0, 0, 0.09);
            text-decoration: none;
            width: 100%;
            height: 0;
            padding-top: 145%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            img {
                width: 100%;
                height: auto;
                position: relative;
                z-index: 1;
            }
            .overlay {
                position: absolute;
                z-index: 2;
                background-color: rgba(0, 79, 255, .5);
                transform: translateY(-100%);
                transition: all .5s ease-in-out;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                @include flex(column,
                center,
                center);
                p {
                    margin-bottom: 0;
                    color: #ffffff;
                    text-align: center;
                    &.name {
                        @extend %Montserrat-b;
                        font-size: 22px;
                        text-transform: uppercase;
                    }
                    &.position {
                        @extend %Montserrat-l;
                        font-size: 16px;
                    }
                }
            }
            &:hover {
                .overlay {
                    transform: translateY(0);
                }
            }
        }
    }
    &-department {
        margin-bottom: 41px;
        p {
            color: #404043;
            @extend %Montserrat-l;
            font-size: 16px;
            margin-bottom: 24px;
            &.title {
                color: #007cff;
                @extend %Montserrat-b;
                font-size: 22px;
                line-height: 1;
                margin-bottom: 24px;
                @media screen and (max-width: $small) {
                    margin-top: 30px;
                }
            }
            b {
                @extend %Montserrat-m;
                line-height: 24px;
            }
        }
        .email {
            color: #004fff;
            @extend %Montserrat-l;
            line-height: 24px;
            text-decoration: none;
        }
    }
    &-join {
        .title-block {
            @include flex(row, space-between, center);
            margin-top: 35px;
            margin-bottom: 73px;
            @media screen and (max-width: $small) {
                @include flex(column, center, flex-start);
            }
            p {
                margin: 0;
            }
            .title {
                color: #404043;
                @extend %Montserrat-l;
                font-size: 22px;
                line-height: 1;                       
            }
            .seemore {
                color: #004fff;
                @extend %Montserrat-b;
                font-size: 16px;
                line-height: 1;
                text-decoration: underline;
                text-transform: uppercase;
                white-space: nowrap;
                @media screen and (max-width: $small) {
                    margin-top: 20px;
                }
            }
        }
        &__table {
            background-image: url('../img/about-img.png');
            background-position: center center;
            background-size: cover;
            padding: 82px 65px 57px 65px;
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 55px;
            @media screen and (max-width: $small) {
                padding: 20px;
            }
            p {
                color: #ffffff;
                @extend %Montserrat-l;
                font-size: 22px;
                margin-left: 13px;
                line-height: 1.2;
                margin-bottom: 22px;
                @media screen and (max-width: $small) {
                    font-size: 16px;
                    margin-bottom: 16px;
                    margin-left: 0;
                }
                &.title {
                    color: #ffffff;
                    @extend %Montserrat-bl;
                    font-size: 34px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    margin-bottom: 43px;
                    margin-left: 0px;
                    @media screen and (max-width: $small) {
                        font-size: 28px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}