.review {
    position: relative;
    padding-bottom: 145px;
    &-back {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 50px);
        background-image: url('../img/review-bg.png');
        background-position: center center;
        background-size: 1920px 100%;
        padding-bottom: 130px;
        background-repeat: no-repeat;
    }
    .container {
        z-index: 2;
        position: relative;
    }
    .carousel {
        position: relative;


        &-control-prev, &-control-next {
            display: block;
            position: absolute;
            top: 58.5%;
            font-size: 38px;
            line-height: 1;
            width: auto;
            height: 40px;
            @media screen and (max-width: $medium) {
                font-size: 25px;
            }
            @media screen and (max-width: $small) {
                display: none;
            }
        }
        &-control-prev {
            left: -20px;
            transform: translate3d(-100%, -50%, 0);
            @media screen and (max-width: 1300px) {
                left: 0;
            }
            @media screen and (max-width: $large) {
                left: 0px;
                transform: translate3d(0, -50%, 0);
            }
            @media screen and (max-width: $medium) {
                left: -5px;
            }
        }
        &-control-next {
            right: -20px;
            transform: translate3d(100%, -50%, 0);
            @media screen and (max-width: 1300px) {
                right: 0;
            }
            @media screen and (max-width: $large) {
                right: 0px;
                transform: translate3d(0, -50%, 0);
            }
            @media screen and (max-width: $medium) {
                right: -5px;
            }
        }

        &-indicators {
            bottom: -28px;
            @media screen and (max-width: $large) {
                bottom: -40px;
            }
            li {
                margin-right: 20px;
                margin-left: 20px;
                width: 8px;
                height: 8px;
                background-color: #ffffff;
                opacity: 0.4;
                border-radius: 50%;
                &.active {
                   opacity: 1; 
                }
            }
        }
    }
    &-item {
        @include flex(row, space-between, flex-start);   
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }     
        &::before, &::after {
            content: "“";
            opacity: 0.1;
            text-shadow: 0 0 95px rgba(0, 0, 0, 0.15);
            @extend %Montserrat-bl;
            font-size: 560px;
            line-height: 1;
            display: block;
            position: absolute;
            z-index: -1;  
            @media screen and (max-width: $medium) {
                font-size: 250px;
            }     
            @media screen and (max-width: $small) {
                font-size: 85px;
            }     
        }
        &::before {
            top: 150px;
            left: 0;
            color: #00b5ff;
        }
        &::after {
            color: #00b5ff;
            transform: rotate(180deg);
            bottom: -40px;
            right: 0;
        }
    }
    &-user {
        border-radius: 50%;
        overflow: hidden;
        width: 240px;
        @media screen and (max-width: $large) {
            width: 160px;
        }
        @media screen and (max-width: $medium) {
            position: absolute;
            top: 120px;
            left: 0;
        }
        @media screen and (max-width: $small) {
            position: static;
            top: 0;
            max-width: 240px;
            width: 100%;
            margin-bottom: 30px;
        }
        img {
            width: 100%
        }
    }
    &-content {
        width: calc(100% - 260px);
        padding-top: 193px;
        @media screen and (max-width: $large) {
            width: calc(100% - 180px);
            padding-top: 100px;
            padding-right: 40px;
        }
        @media screen and (max-width: $medium) {
            width: 100%;
            padding-top: 120px;
            padding-right: 40px;
            padding-left: 60px;
        }
        @media screen and (max-width: $small) {
            padding: 0;
        }
 
        .social {
            li {
                a {
                    padding: 0;
                    font-size: 34px;
                }
                margin-right: 10px;
            }
            @media screen and (max-width: $medium) {
                padding-left: 140px;
            }
            @media screen and (max-width: $small) {
                padding: 0;
            }
        }
    }
    &-block {
        margin-bottom: 30px;
        @media screen and (max-width: $large) {
            margin-bottom: 15px;
        }
        &:not(:last-child) {
            @media screen and (max-width: $medium) {
                padding-left: 140px;
            }
            @media screen and (max-width: $small) {
                padding: 0;
            }
        }
        p {
            color: #ffffff;
            @extend %Montserrat-l;
            font-size: 22px;
            margin: 11px 0;
            @media screen and (max-width: $large) {
                font-size: 16px;
            }
            &.title {
                @extend %Montserrat-b;
                font-size: 24px;
                line-height: 1.2;
                @media screen and (max-width: $large) {
                    font-size: 18px;
                }
            }
        }
        &:last-child {
            p {
                &.title {
                    margin: 36px 0;
                    line-height: 1.4;
                    @media screen and (max-width: $large) {
                        margin: 15px 0;
                    }
                }
            }
        }
        .review-text {
            padding-left: 30px;
            margin-top: 44px;
            max-width: 780px;
            @media screen and (max-width: $large) {
                margin-top: 0;
            }
            @media screen and (max-width: $medium) {
                padding-left: 0px;
            }
            p {
                font-size: 16px;
                margin: 30px 0;
                @media screen and (max-width: $large) {
                    margin: 15px 0;
                }
            }
        }
    }

}