.contacts {
    .content {
        &>.container {
            position: relative;
            z-index: 2;
        }
    }
    .title-page {
        padding: 74px 0 45px;
        margin: 0;
        position: relative;
        z-index: 1;
        h1 {
            margin-bottom: 0;
        }
    }
    .big-text {
        margin: 0;
        transform: rotate(0);
        opacity: 0.6;
        text-shadow: 0 0 95px rgba(0, 0, 0, 0.13);
        color: #f8f8f8;
        font-size: 200px;
        position: relative;
        @extend %Montserrat-bl;
        white-space: nowrap;
        line-height: .7;
        transform: translateY(-50px);
        @media screen and (max-width: $large) {
            font-size: 130px;
        }
    }
    &-table {
        z-index: 2;
        width: calc(100% - 30px);
        position: absolute;
        top: 98%;
        transform: translateY(-50%);
        left: 15px;
        border-radius: 4px;
        background-color: #004fff;
        background-image: linear-gradient(-73deg, #0091fe 0%, #0072ff 100%);
        @include flex(row, space-between, stretch);        
        padding: 55px 0;
        @media screen and (max-width: $large) {
            width: 100%;
            max-width: 100%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0)
        }
        @media screen and (max-width: $small) {
            position: relative;            
            @include flex(column, flex-start, center);
            top: auto;
            transform: translate3d(0, 0, 0);
            left: 0;
            width: 100%;
            padding: 10px 0;
            margin-bottom: 30px;
        }
        .column {
            color: #fff;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto auto;
            padding: 0 60px;
            width: 33.3333%;
            @media screen and (max-width: $large) {
                padding: 0 20px;
            }
            @media screen and (max-width: $small) {                
                padding: 20px 30px;
                width: 90%;
                margin: 0 auto;
            }
            &:not(:first-child) {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -0.5px;
                    height: 100%;
                    width: 1px;
                    background-color: #fff;
                    @media screen and (max-width: $small) {
                        width: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 1px;
                    }
                }
            }
            p {
                color: #ffffff;
                @extend %Montserrat-m;
                font-size: 16px;
                line-height: 2;
                padding-left: 15px;
                margin-bottom: 0;
                @media screen and (max-width: $large) {
                    font-size: 14px;
                }
                &.column-title {
                    color: #ffffff;
                    @extend %Montserrat-b;
                    font-size: 22px;
                    line-height: 1.6;
                    padding-left: 0;
                    line-height: 1;
                    margin-bottom: 24px;
                }
            }
            &-loc {
                background-image: url('../img/contacts-map.png')
            }
            &-email {
                background-image: url('../img/contacts-email.png')
            }
            &-tel {
                background-image: url('../img/contacts-tel.png')
            }
        }
    }
    .map {
        z-index: 1;
        position: relative;
        width: 100%;
        height: 750px;
        @media screen and (max-width: $large) {
            height: 550px;
        }
        @media screen and (max-width: $small) {
            height: 300px;
        }
    }
}