.features-page {
    .title-page {
        text-align: left;
        margin: 72px 0 46px;
        h1 {
            margin-bottom: 0;
        }
    }
    .content {
        padding-bottom: 150px;
        @media screen and (max-width: $medium) {
            padding-bottom: 80px;
        }
    }
    .features-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        .nav-tabs {
            box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            padding: 15px 20px;
            width: 30%;
            @include flex(column, flex-start, flex-start);
            @media screen and (max-width: $medium) {
                width: auto;
                max-width: 100%;
            }
            @media screen and (max-width: $small) {
                width: 100%;
            }
            .nav-item {
                width: 100%;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                }
                &.show .nav-link,
                .nav-link.active {
                    color: #404043;
                    background-color: transparent;
                    border-color: transparent;
                    border: 0;
                }
            }
            .nav-link:focus,
            .nav-link:hover {
                border-color: transparent;
                border: 0;
            }
            .nav-link {
                border: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                color: #404043;
                @extend %Montserrat-m;
                font-size: 16px;
                line-height: 1.2;
                padding: 20px;
                position: relative;
                &::before {
                    content: "\e90c";
                    color: #004fff;
                    @extend %icon;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 22px;
                    font-size: 13px;
                }
            }
        }
        .tab-content {
            width: 70%;
            // padding: 0 45px;
            padding-left: 45px;
            @media screen and (max-width: $medium) {
                width: 100%;
                padding-left: 0;
                margin-top: 40px;
            }
        }
        .features-content {
            padding-right: 45px;
            height: 720px;
            @media screen and (max-width: $small) {
                height: auto;
            }
            p {
                margin-bottom: 4px;
                line-height: 1.6;
                &.features-title {
                    color: #007cff;
                    @extend %Montserrat-bl;
                    font-size: 24px;
                    line-height: 1.2;
                    margin-bottom: 33px;
                }
            }
            .features-list {
                padding-left: 0;
                margin-top: 18px;
                margin-bottom: 29px;
                li {
                    margin-bottom: 23px;
                    padding-left: 45px;
                    &:before {
                        top: 3px;
                        left: 12px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .footer {
        background-color: #404043;
        background-image: linear-gradient(-259deg, #0072ff 0%, #00c6ff 100%);
        padding: 120px 0 110px 0;
        color: #fff;
        @media screen and (max-width: $small) {
            padding: 50px 0;
        }
    }
}