.features {
    margin-top: 10px;
    padding-bottom: 120px;
    @media screen and (max-width: $large) {
        padding-bottom: 80px;
    }
    @media screen and (max-width: $medium) {
        padding-bottom: 40px;
    }
    .nav-tabs {
        @include flex(row, space-between, center);
        border-bottom: 0;
        margin-top: 48px;
        @media screen and (max-width: $large) {
            margin-top: 30px;
        }
        .nav-item {
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
        .nav-link {
            border: 1px solid transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border: 0;
            background-color: transparent;
            opacity: 0.5;
            color: #404043;
            @extend %Montserrat-r;
            font-size: 16px;
            line-height: 1.2;
            padding: 23px 0;
            
            &.active {
                background-color: transparent;
                border-color: transparent;
                opacity: 1;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #007cff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
        // .nav-item.show
    }
    .tab-content {
        margin-top: 54px;
        .col-with-img {
            margin-top: 80px;
            text-align: right;
            padding-left: 60px;
            @media screen and (max-width: $medium) {
                margin-top: 60px;
            }
            @media screen and (max-width: $small) {
                padding: 0;
            }
            .img-with-white-back-left {
                width: auto;
                img {
                    width: auto;
                    max-width: 100%;
                }
            }
        }        
    }
    p {
        color: #404043;
        @extend %Montserrat-l;
        font-size: 18px;
        line-height: 2;
        &.features-title {
            @extend %Montserrat-b;
            font-size: 26px;
            line-height: 1.2;
            margin-bottom: 9px;
        }
    }
    &-content {
        height: 620px;
        padding-right: 80px;
        @media screen and (max-width: $large) {
            padding-right: 30px;
        }
        @media screen and (max-width: $small) {
            height: auto;
            padding-right: 0px;
        }
    }
    &-list {        
        padding-left: 24px;        
        width: 100%;
        overflow: auto;
        margin-top: 79px;  
        @media screen and (max-width: $large) {
            margin-top: 40px;  
        } 
        @media screen and (max-width: $medium) {
            padding-left: 0px; 
        }
        li {
            width: 100%;
        }
        p.list-text {
            margin-bottom: 10px;
        }
    }
}