.fix-text {
    position: fixed;
    top: 150px;
    right: 0;
    transform: translateX(100%);
    padding: 15px 30px 15px 15px;
    background: rgb(70, 190, 226);
    z-index: 150;
}
.fix-text.active {
    transform: translateX(0);
}
.fix-text li {
    display: block;
    width: 100%;
}
.fix-text li a {
    display: block;
    padding: 10px 0;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.trigger-menu {
    position: fixed;
    top: 130px;
    right: 0;
    height: 20px;
    width: 40px;
    background: rgb(70, 190, 226);
    color: #fff;
    font-size: 14px;
    border: 0;
    z-index: 15;
}