.footer {
    // background-color: #404043;
    // background-image: linear-gradient(-259deg, #0072ff 0%, #00c6ff 100%);
    padding: 70px 0 110px 0;
    color: #242323;
    @media screen and (max-width: $small) {
        padding: 50px 0;
    }
    .copyright {
        color: inherit;
        @extend %Montserrat-l;
        font-size: 15px;
        line-height: 32px;
        margin: 0;
    }
    &-col {
        @include flex(row, flex-end, center);
        @media screen and (max-width: $medium) {
            @include flex(row, space-between, center);
            margin-top: 20px;
            // padding: 0;
        }
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, flex-start);
        }
    }
    .nav {
        li {
            padding: 0 20px;
            color: inherit;
            @media screen and (max-width: $medium) {
                padding: 0;
                margin-right: 20px;
                color: inherit;
            }
            a {
                color: inherit;
                @extend %Montserrat-m;
                font-size: 18px;
                line-height: 1.1;
                text-transform: uppercase;
                padding: 0;
            }
        }
        &.social {
            margin-left: 44px;
            color: inherit;
            @media screen and (max-width: $small) {
                margin-left: 0;
                margin-top: 20px;
            }
            li {
                padding: 0 5px;
                margin-left: 14px;
                color: inherit;
                @media screen and (max-width: $medium) {
                    margin-right: 0;                    
                }
                @media screen and (max-width: $small) {
                    padding: 0;
                    margin-right: 10px;
                    margin-left: 0;
                }
                a {
                    font-size: 32px;
                    i {
                        &::before {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }
}