.modal-open {
    .main-page {
        .header {
            width: calc(100% - 17px);
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
    }
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #004fff;
    z-index: 2;
    @media screen and (max-width: $small) {
        position: relative;
    }
    .navbar {
        padding: 23px 0 30px 0;
        &-brand {
            padding: 0;
        }
    }
    .btn.btn-primary {
        @extend %Montserrat-m;
    }
}
.logo {
    img {
        max-width: 100%;
    }
}
.navbar-light {
    .navbar-nav {
        .nav-item {
            margin: 0 15px;
            @media screen and (max-width: $large) {
                margin: 0 10px;
            }
        }
        .nav-link {
            color: #ffffff;
            @extend %Montserrat-m;
            font-size: 14px;
            text-transform: uppercase;
            line-height: 1.1;
            padding: 0;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                display: block;
                bottom: -21px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #ffffff;      
                opacity: 0;     
                transition: opacity .3s ease-in-out;    
                @media screen and (max-width: $large) {
                    bottom: -15px;
                } 
            }
        }   
        .active>.nav-link, .nav-link.active, .nav-link.show, .show, .nav-link:focus, .nav-link:hover {
            color: #ffffff;
            &:after {
                opacity: 1;
            }
        }
    }
    // small
    .navbar-collapse {
            @media screen and (max-width: $medium) {
                margin-top: 30px;
                .nav-link {
                    font-size: 16px;
                    padding: 15px 0;
                }
                .active>.nav-link, .nav-link.active, .nav-link.show, .show, .nav-link:focus, .nav-link:hover {
                    &::after {
                        display: none;
                    }
                }
            }
    }
    .navbar-toggler {
        color: #fff;
        border-color: #fff;
    }
}