$large-height: 48px;
$medium-height: 35px;


.radio {
    display: inline-block;
    width: auto;
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
        margin-right: 45px;
    }
    input[type=radio] {
        display: block;
        position: absolute;
        top: -50px;
        left: -50px;
        visibility: hidden;
        opacity: 0;
    }
    input[type=radio]:checked + label {
        span {
            color: #004efc;
        }
        &::before {
            background-color: #fff;
            border: 2px solid #004efc;
        }
        &::after {
            content: "";
            width: 15px;
            height: 15px;
            background-color: #004efc;
            border: 0px;
            top: 5px;
            left: 5px;
            display: block;
            position: absolute;
            border-radius: 50%;
        }
    }
    input[type=radio] + label {
        padding-left: 35px;
        padding-top: 1px;
        cursor: pointer;

        &::before {
            content: "";
            width: 25px;
            height: 25px;
            background-color: #fff;
            border: 2px solid #d7d7d7;
            top: 0;
            left: 0;
            display: block;
            position: absolute;
            border-radius: 50%;
        }        
        span {
            margin: 0;
            @extend %Montserrat-m;
            color: #2d2d2d;
        }
    }
}
.input {
    span.input-title {
        font-size: 14px;
        @extend %Montserrat-l;        
    }
}
input {
    &[type=text], &[type=email] {
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        height: $large-height;
        background-color: #fff;
        width: 100%;
        padding: 0 10px;
        color: #2d2d2d;
        @media screen and (max-width: $large) {
            height: $medium-height;
        }
        &:focus {
            outline: none;
        }
    }
}
textarea {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    // height: 48px;
    background-color: #fff;
    width: 100%;
    color: #2d2d2d;
}
// file 
.file {
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    width: 100%;
    position: relative;
    height: $large-height;
    @media screen and (max-width: $large) {
        height: $medium-height;
    } 
    input[type=file] {
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        position: relative;
        cursor: pointer;
    }
    .icon-close {
        cursor: pointer;
    }
    label {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .notfile {
        display: block;
        text-align: center;  
        i {
            display: inline-block;
            margin-right: 10px;
        }      
        &-title {
            color: #0351ff;
            @extend %Montserrat-m;
            font-size: 14px;
            line-height: $large-height;
            @media screen and (max-width: $large) {
                line-height: $medium-height;
            }
        }
    }
    .isfile {
        display: none;
        text-align: left;
        padding-left: 17px;
        .icon-close {
            display: block;
            position: absolute;
            top: 50%;
            right: 13px;
            font-size: 15px;
            transform: translateY(-50%);
        }
        &-title {
            color: #404043;
            @extend %Montserrat-b;
            font-size: 14px;
            line-height: $large-height;
            @media screen and (max-width: $large) {
                line-height: $medium-height;
            }
        }

    }
    &.is {
        padding-right: 45px;
        .isfile {
            display: block;
        }
        .notfile {
            display: none;
        }
    }
}
// select
select {
    width: 100%;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #d7d7d7;
}
.select2-container .select2-selection--single {
    height: $large-height;
    @media screen and (max-width: $large) {
        height: $medium-height;
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2d2d2d;
    line-height: $large-height;
    @media screen and (max-width: $large) {
        line-height: $medium-height;
    }
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    background-color: transparent;
    height: $large-height;
    @media screen and (max-width: $large) {
        height: $medium-height;
    }
    b {
        border-color: transparent;
        border-style: solid;
        border-width: 0;
        height: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
        top: 0;
        width: 100%;
        line-height: $large-height;
        @media screen and (max-width: $large) {
            line-height: $medium-height;
        }        
        &::before {
            content: "\e90c";
            color: #d7d7d7;
            position: absolute;
            top: 50%;
            left: 50%;
            @extend %icon;
            font-size: 14px;
            transform: rotate(90deg);
            display: block;
            margin-top: -5.5px;
            margin-left: -7.5px;
            width: 15px;
            height: 15px;
            transition: all .5s ease-in-out;
        }
    }
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent;
    border-width: 0;
    &::before {
        transform: rotate(270deg);        
        margin-top: -11.5px;
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #004fff;
}