.main-page {
    .header {
        background-color: transparent;
        position: absolute;
        @media screen and (max-width: $medium) {
            background-color: #004fff;
        }
        @media screen and (min-width: $small) and (max-width: $medium) {
            position: absolute;
        }   
        @media screen and (max-width: $small) {
            position: relative;
        }  
    }
    .first {
        @media screen and (min-width: $small) and (max-width: $medium) {
            padding-top: 104px;
        }
    }
    .content {
        background-image: url('../img/wrap-bg.png');
        padding-bottom: 150px;
        @media screen and (max-width: $medium) {
            padding-bottom: 80px;
        }
    }
    .footer {
        background-color: #404043;
        background-image: linear-gradient(-259deg, #0072ff 0%, #00c6ff 100%);
        padding: 120px 0 110px 0;
        color: #fff;
        @media screen and (max-width: $small) {
            padding: 50px 0;
        }
    }
}

.first {
    background-image: url('../img/background.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1920px auto;
    padding-bottom: 120px;
    @media screen and (max-width: $large) {
        background-size: $large auto;
    }
    @media screen and (max-width: $medium) {
        background-size: $medium auto;
        background-position: center 100px;
    }   
    @media screen and (max-width: $small) {
        padding-bottom: 30px;
        background-size: cover;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    h1 {
        opacity: 0.05;
        text-shadow: 0 0 95px rgba(0, 0, 0, 0.1);
        color: #ffffff;
        opacity: .2;
        @extend %Montserrat-bl;
        font-size: 202px;
        line-height: 1;
        text-transform: uppercase;
        transform: rotate(-90deg);
        position: absolute;
        top: 623px;
        left: -460px;
        z-index: -1;
        @media screen and (max-width: $large) {
            font-size: 140px;
            top: 623px;
            left: -300px;
        }
        @media screen and (max-width: $small) {
            display: none;
        }
    }
    &-content {
        height: 760px;
        max-width: 720px;
        @include flex(column, center, flex-start);
        @media screen and (max-width: $large) {
            height: 450px;
            max-width: 670px;
            padding-top: 80px;
        }
        @media screen and (max-width: $medium) {
            max-width: 450px;
            height: 380px;
            padding-top: 0px;
        }
        @media screen and (max-width: $small) {
            height: auto;
            padding: 30px 0;
        }
    }

    &-title {
        color: #fefefe;
        @extend %Montserrat-l;
        font-size: 46px;
        font-weight: 300;
        line-height: 1.3;
        display: block;
        margin-bottom: 60px;
        @media screen and (max-width: $large) {
            font-size: 24px;
            margin-bottom: 30px;
        }
        @media screen and (max-width: $medium) {
            font-size: 20px;
            margin-bottom: 15px;
        }
        b {
            color: #ffffff;
            @extend %Montserrat-bl;
            font-size: 90px;
            text-transform: uppercase;
            display: block;
            line-height: 1.6;
            @media screen and (max-width: $large) {
                line-height: 1.4;
                font-size: 60px;
            }
            @media screen and (max-width: $medium) {
                font-size: 46px;
            }
            @media screen and (max-width: $small) {
                font-size: 36px;
            }
        }
    }
    &-desc {
        @extend %Montserrat-l;
        padding-left: 111px;
        color: #feffff;
        font-size: 22px;
        line-height: 1.5;
        display: block;
        position: relative;
        @media screen and (max-width: $large) {
            font-size: 16px;
            padding-left: 80px;
        }
        @media screen and (max-width: $medium) {
            font-size: 14px;
            padding-left: 60px;
        }
        &:before {
            content: "";
            width: 84px;
            height: 3px;
            background-color: #ffffff;
            position: absolute;
            top: 13px;
            left: 0px;
            @media screen and (max-width: $large) {
                width: 45px;
                height: 2px;
                top: 10px;
            }
            @media screen and (max-width: $large) {
                width: 35px;
                top: 8px;
            }
        }
    }
    &-video {
        position: absolute;
        right: 19px;
        bottom: 4px;
        @media screen and (max-width: $large) {
            right: 117px;
            bottom: -25px;
        }    
        @media screen and (max-width: $medium) {
            right: 45px;
            bottom: -10px;
        }
        @media screen and (max-width: $small) {
            position: relative;
            right: 0;
            bottom: 0;
            @include flex(row, flex-start, center);
        }
        &__title {
            color: #ffffff;
            @extend %Montserrat-b;
            font-size: 27.5px;
            transform: rotate(-90deg);
            transition: all 0s;
            position: absolute;
            bottom: 217px;
            white-space: nowrap;
            left: -67px;
            width: auto;
            @media screen and (max-width: $large) {
                font-size: 17px;
                bottom: 150px;
                left: -40px;
            }
            @media screen and (max-width: $medium) {
                font-size: 14px;
                bottom: 115px;
                left: -32px;
            }
            @media screen and (max-width: $small) {
                transform: rotate(0deg);
                position: static;
                top: 0;
                left: 0;
                order: 2;
                margin-bottom: 0;
            }
        }
        &__button {
            display: block;
            width: 107px;
            height: 107px;
            border: 2px solid #ffffff;
            position: relative;
            background: transparent;
            @include flex(row, center, center);
            border-radius: 50%;
            @media screen and (max-width: $large) {
                width: 80px;
                height: 80px;
            }
            @media screen and (max-width: $medium) {
                width: 60px;
                height: 60px;
                order: 1;
                margin-right: 20px;
            }
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 86px;
                height: 86px;
                background-color: #ffffff;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                transition: all 0s;
                border-radius: 50%;
                z-index: 1;
                @media screen and (max-width: $large) {
                    width: 60px;
                    height: 60px;
                }
                @media screen and (max-width: $medium) {
                    width: 40px;
                    height: 40px;
                }
            }
            i {
                z-index: 2;
                font-size: 35px;
                transform: translateX(4px);
                @media screen and (max-width: $large) {
                    font-size: 28px;
                }
                @media screen and (max-width: $medium) {
                    font-size: 24px;
                    transform: translateX(2px);
                }
            }
        }
    }
}

// content
.company {
    margin-top: 14px;
    position: relative;
    z-index: 2;
    h2 {
        margin-bottom: 23px;
        @media screen and (max-width: $large) {
            margin-bottom: 17px;
        }
    }
    .custom-col-6 {
        width: 53.5%;
        padding: 0 13px;
        @media screen and (max-width: $medium) {
            width: 100%;
        }
    }
    .custom-col-5 {
        width: 40.5%;
        padding: 0;
        @media screen and (max-width: $large) {
            width: 44%;
        }
        @media screen and (max-width: $medium) {
            width: 100%;
        }
    }
    .justify-content-end {
        margin-bottom: 17px;
        @media screen and (max-width: $medium) {
            margin-bottom: 30px;
        }
    }
    .col-lg-5 {
        @media screen and (max-width: $medium) {
            text-align: center;
        }
    }
}
.search {
    display: block;
    // max-width: 600px;
    position: relative;
    .form-control {
        padding-right: 60px;
        width: 100%;
    }
    &-btn {
        height: 100%;
        width: 60px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border: 0;
        i {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: all 0s;
            font-size: 33px;
            @media screen and (max-width: $large) {
                font-size: 26px;
            }
        }
    }
}
.plans {
    /* Style for "Прямоуголь" */
    max-width: 472px;
    margin: 0 auto;
    transform: translateY(-37px);
    @media screen and (max-width: $large) {
        transform: translateY(-30px);
    }
    @media screen and (max-width: $medium) {
        transform: translateY(0);
        margin-top: 25px;
    }
    @media screen and (max-width: $small) {
        box-shadow: 0 0 68px rgba(0, 0, 0, 0.17);
        border-radius: 4px;
        background-color: #ffffff;
        width: calc(100% - 30px);
        @media screen and (max-width: $small) {
            overflow: hidden;
        }
    }
    &-content {
        width: 100%;
        box-shadow: 0 0 68px rgba(0, 0, 0, 0.17);
        border-radius: 4px;
        background-color: #ffffff;
        padding: 35px 30px 44px 30px;
        @media screen and (max-width: $small) {
            box-shadow: none;
            border-radius: 0;
            background-color: transparent;
            padding-bottom: 25px;
        }
    }
    &-title {
        color: #2d2d2d;
        @extend %Montserrat-l;
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 35px;
        @media screen and (max-width: $large) {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    &-price {
        color: #5f5f5f;
        @extend %Montserrat-m;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 15px;
        @media screen and (max-width: $large) {
            margin-bottom: 10px;
            font-size: 20px;
        }
        b {
            color: #004fff;
            @extend %Montserrat-bl;
            font-size: 53px;
            @media screen and (max-width: $large) {
                font-size: 48px;
            }
        }
    }
    &-buttons {
        transform: translateY(-50%);
        position: relative;
        padding: 0 30px;
        @media screen and (max-width: $small) {
            // margin-top: 20px;
            transform: translateY(0%);
            padding-bottom: 20px;
        }
    }
    &-btn {
        height: 48px;
        color: #ffffff;
        @extend %Montserrat-b;
        font-size: 16px;
        line-height: 1.2;
        padding: 16px 5px;
        text-transform: uppercase;
        width: 100%;
        @media screen and (max-width: $large) {
            font-size: 14px;
        }
        &:first-child {
            @media screen and (max-width: $small) {
                margin-bottom: 15px;
            }
        }
    }
}
// img
[class^="img-with-white-back"], [class*=" img-with-white-back"] {
    display: inline-block;
    height: auto;
    position: relative;
    img {
        width: 100%;
        position: relative;
        display: block;        
        z-index: 2;
    }
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10%;
        left: 13%;
        box-shadow: 14px 13px 133px rgba(0, 0, 0, 0.09);
        background-color: #fefefe;
        z-index: 1;
    }
}
.img-with-white-back-left {
    &::before {
        left: -13%;
    }
}
.img-with-white-back-right {
    &::before {
        left: 13%;
    }
}
.big-text {
    opacity: 0.6;
    text-shadow: 0 0 95px rgba(0, 0, 0, 0.13);
    color: #f8f8f8;
    @extend %Montserrat-bl;
    font-size: 191px;
    line-height: 27px;
    display: block;
    line-height: 1;
    position: absolute;
    transform: rotate(-90deg);
    z-index: -1;
    @media screen and (max-width: $small) {
        display: none;
    }
}
// starting
.starting {
    margin-top: 39px;
    margin-bottom: 132px;
    @media screen and (max-width: $medium) {
        margin-top: 0;
        margin-bottom: 50px;
    }
    .container {
        position: relative;
    }
    h2 {
        display: block;
        max-width: 500px;
        line-height: 1.5;
    }
    &-big {        
        bottom: 312px;
        right: -328px;
        @media screen and (max-width: $medium) {
            bottom: 30%;
            right: -40%;
        }
    }
    ul {
        margin: 0 auto;
        margin-top: 133px;
        width: 100%;
        max-width: 950px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (max-width: $medium) {
            margin-top: 60px;
        }
        li {
            width: calc(50% - 25px);
            margin-bottom: 36px;
            @include flex(row, flex-start, flex-start);
            @media screen and (max-width: $small) {
                width: 100%;
            }
        }
    }
    &-icon {
        margin-right: 25px;
        i {
            font-size: 56px;
        }
    }
}

// brands
.brands {
    padding-bottom: 100px;
    margin-top: 35px;
    @media screen and (max-width: $large) {
        padding-bottom: 40px;
    }

    h2 {
        
    }
    &-wrap {
        overflow: hidden;
        width: 100%;
        overflow: auto;
        margin-top: 43px;
        @media screen and (max-width: $large) {
            margin-top: 0;
        }
    }
    &-list {
        display: flex;
        flex-wrap: nowrap;
        width: auto;
        margin: 55px 0;
        @media screen and (max-width: $large) {
            margin: 30px 0;
        }
        @media screen and (max-width: $small) {
            flex-wrap: wrap;
            @include flex(column, flex-start, center);
        } 
    }
    &-item {
        display: inline-block;
        text-decoration: none;
        padding: 0 15px;
        width: 25%;
        @include flex(row, center, center);
        @media screen and (max-width: $small) {
            width: 100%;
            margin:  15px 0;
        }
        img {
            max-width: 100%;
        }
    }
}
// geting started
.started {
    margin-top: 35px;
    h2 {
        line-height: 2;
    }
    .container {
        position: relative;
    }
    &-big {
        bottom: 29%;
        left: -27%;
    }
    &-list {
        margin-top: 51px;
        padding-left: 55px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        @media screen and (max-width: $medium) {
            padding-left: 0;
            margin-top: 35px;
        }
        @media screen and (max-width: $small) {
            padding-left: 15px;
        }
        li {
            width: calc(50% - 25px);
            margin-bottom: 60px;
            padding: 30px 35px 15px 20px;
            border-left: 6px solid #007cff;
            box-shadow: 0 15px 21px rgba(0, 0, 0, 0.06);
            background-color: #f8f8f8;
            display: inline-block;
            @media screen and (max-width: $small) {
                width: 100%;
                margin-bottom: 30px;
            }
            &:nth-child(even) {
                transform: translateY(70px);
                @media screen and (max-width: $small) {
                    transform: translateY(0);
                }
            }
            &::before {
                color: #007cff;
                @extend %Montserrat-bl;
                font-size: 31px;
                line-height: 1;
            }
            p.list-title {
                margin-top: 15px;
            }
        }        
    }
    &-content {
        color: #404043;
        @extend %Montserrat-l;
        font-size: 16px;
        line-height: 1.8;
        max-width: 870px;
        padding-left: 40px;
        margin-top: 90px;
        @media screen and (max-width: $medium) {
            padding-right: 50px;
        }
        @media screen and (max-width: $small) {
            padding: 0;
        }
        p {
            line-height: 1.5;
        }
        &__title {
            @extend %Montserrat-b;
            font-size: 22px;
            margin-bottom: 7px;
        }
    }
    &-btn {
        box-shadow: 14px 13px 125px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: #ffffff;
        background-image: linear-gradient(to left, #0091fe 0%, #0072ff 100%);
        color: #ffffff;
        @extend %Montserrat-r;
        font-size: 22px;
        text-transform: uppercase;
        padding: 23px 32px;
        height: auto;
        line-height: 1;
        margin-top: 58px;
        @media screen and (max-width: $large) {
            font-size: 17px;
            text-transform: uppercase;
            padding: 15px 25px;
        }
        &:hover {
            background-image: linear-gradient(to left, #0072ff 0%, #0072ff 100%);
            color: #ffffff;
        }
    }    
}

.toTop {
    @include flex(row, flex-start, center);
    transform: rotate(-90deg);
    position: absolute;
    bottom: 4%;
    right: -4%;
    cursor: pointer;
    @media screen and (max-width: $small) {
        display: none;
    }
    span {
        color: #404043;
        @extend %Montserrat-b;
        font-size: 16px;
        line-height: 27px;
        display: block;
        margin-right: 20px;
        @media screen and (max-width: $large) {
            font-size: 14px;
        }
    }
    i {
        &:before {
            font-size: 42px;
            color: #007cff;
            @media screen and (max-width: $large) {
                font-size: 33px;
            }
        }
    }
}