.modal-signUp {
    .modal-dialog {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        @media (min-width: 576px) {
            max-width: 540px
        }
        @media (min-width: 768px) {
            max-width: 720px
        }
        @media (min-width: 992px) {
            max-width: 960px
        }
        @media (min-width: 1200px) {
            max-width: 1170px
        }
    }
}
.modal {
    &-content {
        @include flex(row, flex-start, stretch);
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, stretch);
        }
    }
    &-title {        
        color: #ffffff;
        @extend %Montserrat-l;
        font-size: 22px;
        line-height: 1;
        text-align: center;
        b {
            color: #fefefe;
            @extend %Montserrat-b;
            font-size: 32px;
            line-height: 1.1;
            text-transform: uppercase;
            display: block;
        }
    }
    &-left {
        width: 31.5%;        
        background-image: url('../img/modal.png');
        background-repeat: no-repeat;
        background-size: cover;
        @include flex(row,  center, center);
        position: relative;
        padding-bottom: 70px;
        @media screen and (max-width: $small) {
            width: 100%;
            min-height: 150px;
            padding-bottom: 40px;
        }
    }
    &-links {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center; 
        @media screen and (max-width: $small) {
            bottom: 20px;
        }               
        a {
            color: #ffffff;
            @extend %Montserrat-r;
            font-size: 14px;
            line-height: 1.2;
            text-decoration: underline;
            text-transform: uppercase;
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
    &-right {
        width: 68.5%;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    .step {
        padding: 5px 25px 50px 60px;
        @media screen and (max-width: $large) {
            padding: 5px 25px 50px 25px;            
        }
        @media screen and (max-width: $small) {
            padding: 5px 0 30px 0;
        }
        display: none;
        &.active {
            display: block;
        }
        &3 {
            .step-body {
                display: flex;
                justify-content: center;
                align-items: center;
                &>div {         
                    height: auto;  
                    .step-row {
                        width: 100%;         
                    }
                }
            }
            .step-head, .step-footer {
                &:before, &:after {
                    display: none;
                }
            }
        }
        &-head {
            @include flex(row, space-between, flex-end);
            padding: 40px 50px 45px 20px;    
            position: relative;
            @media screen and (max-width: $small) {
                padding: 15px;   
            }
            &:before {
                content: '';
                display: block;
                width: calc(100% - 20px);
                position: absolute;
                left: 0;
                bottom: 0;
                height: 40px;
                background-color: transparent;
                box-shadow: 0 25px 25px -12px rgba(0,0,0,.1);
                @media screen and (max-width: $small) {
                    width: calc(100% - 30px);
                    left: 15px;
                    display: none;
                }
            }        
            p {
                display: inline-block;                
                width: auto;
            }
        }
        &-title {
            color: #2d2d2d;
            @extend %Montserrat-l;
            font-size: 32px;
            line-height: 1;
            margin: 0;
            @media screen and (max-width: $small)  {
                font-size: 20px;
            }
        }
        &-number {
            color: #004fff;
            @extend %Montserrat-b;
            font-size: 16px;
            line-height: 1.2;
            text-transform: uppercase;
            margin: 0;
        }
        &-body {
            height: 400px;
            overflow: auto;
            width: 100%;
            padding-right: 35px;
            padding-left: 23px;
            padding-top: 30px;     
            @media screen and (max-width: $small) {
                height: auto;
                padding: 20px;
            }       
        }
        &-footer {
            margin-top: 51px;
            padding-right: 34px;
            padding-left: 23px;
            text-align: right;
            position: relative;
            @media screen and (max-width: $small)  {
                padding: 0 15px;
                margin-top: 25px;
            }
            &:before {
                content: '';
                display: block;
                width: calc(100% - 20px);
                position: absolute;
                left: 0;
                top: -51px;
                height: 51px;
                background-color: transparent;
                box-shadow: 0px -25px 25px -12px rgba(0,0,0,.1);
                @media screen and (max-width: $small) {
                    width: calc(100% - 30px);
                    left: 15px;
                    display: none;
                }
            }
            .back {
                color: #004fff;
                @extend %Montserrat-b;
                font-size: 16px;
                line-height: 1.9;
                text-decoration: underline;
                text-transform: uppercase;
                position: absolute;
                top: 50%;
                left: 25px;
                transform: translateY(-50%);
                @media screen and (max-width: $small)  {
                    left: 15px;
                    font-size: 13px;
                }
            }
            .btn-primary {
                min-width: 220px;
                box-shadow: 14px 13px 125px rgba(0, 0, 0, 0.15);
                border-radius: 4px;
                background-color: #00b3ff;
                background-image: linear-gradient(to left, #0091fe 0%, #0072ff 100%);
                color: #ffffff;
                @extend %Montserrat-b;
                font-size: 16px;
                line-height: 1;
                white-space: nowrap;
                text-transform: uppercase;
                @media screen and (max-width: $small)  {
                    min-width: auto;
                    font-size: 14px;
                    height: 35px;
                }
                &:hover {
                    background-image: linear-gradient(to left, #0072ff 0%, #0072ff 100%);
                }
            }
        }
    }
    .step-row {
        // @media screen and (max-width: $small) {
        //     width: 100%;
        //     margin: 0;
        //     position: static;
        // }
        &>[class^="col"] {
            margin-bottom: 22px;
        }
        .title {
            color: #2d2d2d;
            font-size: 14px;
            @extend %Montserrat-l;
            margin-bottom: 8px;
        }        
    }
}